<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>循环Map</title>
</head>
<body>
<div th:each="user:${Map}">
    <p th:text="${user.key}"></p>
    <p th:text="${user.value}">
    <div th:text="${user.value.id}"></div>
    <div th:text="${user.value.name}"></div>
    <div th:text="${user.value.sex}"></div>
    <div th:text="${user.value.age}"></div>
    </p>
</div>
<div th:each="strMap:${strMap}">
    <p th:text="${strMap.key}"></p>
    <p th:text="${strMap.value}">
</div>
<br>
<h3>循环 ListMap</h3>
<div th:each="lm:${LIstMap}">
    <!--循环Map中的数据-->
    <div th:each="m:${lm}">
        <span th:text="${m.key}"></span>
        <p th:text="${m.value.id}"></p>
        <p th:text="${m.value.name}"></p>
        <p th:text="${m.value.sex}"></p>
        <p th:text="${m.value.age}"></p>
    </div>
</div>
</body>
</html>