<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>标准变量表达式</title>
</head>
<body>
<h3>选择变量表达式：*{key} </h3>
<div>
    <p>获取 SysUser 对象属性值</p>
    <p th:text="${myUser.id}">id</p>
    <p th:text="${myUser.name}">name</p>
    <p th:text="${myUser.sex}">sex</p>
    <p th:text="${myUser.age}">age</p>

    <p>使用 *{} 获取 SysUser的值</p>
    <div th:object="${myUser}">
        <p th:text="*{id}"></p>
        <p th:text="*{name}"></p>
        <p th:text="*{sex}"></p>
        <p th:text="*{age}"></p>
    </div>
    <p>使用 *{} 完成的表达式对象的属性值</p>
    <p th:text="*{myUser.name}"></p>

</div>
</body>
</html>