<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!--配置-->
    <settings><!--设置-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <!--domain保重的类名就是别名-->
        <package name="org.example.domain"/>
    </typeAliases>

    <mappers>
        <!--加载dao包中所有mapper文件-->
        <package name="org.example.dao"/>
    </mappers>
</configuration>